*{
  margin: 0;
  padding: 0;
}

.page{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height:100vh;
}
.page-container{
  width: 982px;
  margin: auto;
  /* padding-bottom: 5px; */
}
.top-navigation{
  height: 20px;
  display: flex;
  justify-content: end;
}
.top-navigation ul{ 
  list-style: none;
  display: flex;
  background-color:#3D5685;
  padding: 0px 5px 2px;
  justify-content: center;
  align-items: center;
}
.top-navigation ul li:not(:last-child)::after{ 
  content: "|";
  color: #fff;
  padding: 5px;
  font-size: 11px;
  
}

.top-navigation ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  padding: 0px 1px;
  font-family: 'Trebuchet MS';
}

/* ****navigation**** */
.header{
  /* width: 100%; */
  margin: 35px auto 0px;
}
.navigation-section {
  padding: 4px;
  height: 52px;
  background-color:#15233C ;
}

.navigation{
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  border: #707070 solid;
  border-width: thin;
}
.logo{
  padding-top: 24px;
  margin-bottom: 16px;   
}
.navigation ul{
  list-style: none;
  display: flex;
  align-items: center;
}
.navigation ul li a, .active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Trebuchet MS";
  padding: 23px;
  padding-top: 7px;
  padding-bottom: 7px;
 
}

.navigation-list-item:hover a, .active{
  color: #fff;
  border-radius: 5px;
  background-color: #49677F;
  
 
}

.navigation ul li:not(:last-child)::after{
  font-size: 20px;
  content: "|";
  color: #fff;
}
.active {
  color: #fff;
}
.page-title {
  background-color:rgba(3, 30, 63, 0.3) ;
  color: #aee0f7;
}
.title{
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 16px;
  color: #fff;
  padding: 35px 24px;
  font-family: 'Trebuchet MS';
}
/* Page-Section */
.page-section-container{
  border: 0.5px solid;
  border-color: #15253D;;
  background-color:#10223a;
 line-height: 1.2;
}
.page-section{
  display: flex;
  border: 1px solid white;
  margin: 3px;
  border-image: linear-gradient(to top, #ffffff40, rgba(0, 0, 0, 0))1;
}
.page-section-item{
  flex: 1;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom:10px;
  text-align: left;
}
.page-section-img img{
width: 100%;
height: auto;
margin-top: 0px;
padding-top: 18px;

}

.page-section-content {
  color: #fff;
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 10px;
}
.page-section-content a{
  color: #b4daf1;
}
.page-section-content1{
 margin-top: 16px;
 text-align: left;
 color:white;
 font-size: 16px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 padding-top: 10px;
}
.page-section-content1 a{
  color: #b4daf1;
}
/* .page-section-container img{
width:100%;
} */
.page-section-img-tap{
padding-top: 18px;
margin-top: 0px;
filter: brightness(200%);
}
.page-section-img-IT{
  padding-top: 18px;
  margin-top: 0px;
  }
/* footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#2D3E6B;
  color: #CAD2EE;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
  gap: 0 5px;
}
.footer ul{
  list-style: none;
  display: flex;
  gap: 0 5px;
}
.footer ul li a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 5px;
  
}
.footer ul li:not(:last-child)::after{
  content: "|";
  padding: 5px;
  color: #CAD2EE;
  }
/* SERVICES-PAGE */
.page-container{
  width: 982px;
  margin: auto;
  padding-bottom: 5px;
}
.services{
  display: flex;
  justify-content: space-around;
  margin-top:40px;
  background-color:rgba(16,34,58,0.9);
  padding: 2px;

}
.services-section{
  display: flex;
  justify-content: space-around;
  padding: 22px;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to top,#ffffff40, rgba(0, 0, 0, 0))1;
}
.image{
  margin-bottom: 20px;
}
.left-container-links{
  padding: 10px 5px;
  border-top: #5F6474 solid 1px;
  border-bottom: #5F6474 solid 1px;
}
.left-container-links ol{
  list-style: none;
}
.our-services{
  margin-left: 30px;
}
.services-title{
  text-transform: uppercase;
  font-family: 'Trebuchet MS';
  color: #9acbeb;
}
.services-content{
  margin: 20px auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height:1.7;
}
.services-content-container ul{
  padding-left: 35px;
}
.services-content-container li{
  color: #fff;
  line-height: 1.7;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  color:#9acbeb
}
a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 14px;
}
.request-section{
  margin: 20px auto;
  padding: 10px 10px;
  border-top: #5F6474 solid 1px;
  border-bottom: #5F6474 solid 1px;
  background: linear-gradient(#0A293D,#122139);
} 
 .request-quote{
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
.request-button {
  background-image: linear-gradient(to top,#1C3558,#155D75);
  color: #CBE5FC;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 5px;
  padding:5px 7px ;
  /* padding-bottom: 5px;
  padding-top: 4PX;
  padding-right: 6px;
  padding-left: 8px; */
  border: 1px solid #136885;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
